/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Container */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header Styles */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo_header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero Section */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features Section */
.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team Section */
.team {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-content {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Portfolio Section */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
}

.portfolio-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
